@import "~variables"
@import "themes/core/initial"
@import "themes/sections/sections"

.q-container
  width 100%
  padding 0 15px
  margin 0 auto
  @media screen and (min-width: $breakpoint-xs)
    max-width 540px
  @media screen and (min-width: $breakpoint-sm)
    max-width 720px
  @media screen and (min-width: $breakpoint-md)
    max-width 960px
  @media screen and (min-width: $breakpoint-lg)
    max-width 1140px

.q-display
  font-size 1.375rem
.round-borders-0
  border-radius 0

/******** IBLOG *********/

.bg-widget-services
  background-image url("../statics/iblog/bg-widget-services.jpg")
.bg-widget-banner
  background-image url("../statics/iblog/bg-widget-banner.png")