<!DOCTYPE html>
<html>
  <head>
    <title>Baked Pizza Gourmet</title>
    <meta name="description" content="SÓMOS BAKED PIZZA. Nuestras deliciosas recetas son preparadas de manera artesanal con los mejores ingredientes" />
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">
  </head>
  <body style="min-width: 320px">
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </body>
</html>
